*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: hsl(178, 100%, 50%);
  --color-cyan-with-opacity: hsl(178, 100%, 50%, 0.5);

  --color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --color-very-dark-blue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: var(--color-very-dark-blue-main-bg);
  color: var(--color-soft-blue);
  padding: 1.5rem;
  display: grid;
  place-items: center;
}

img {
  display: block;
}

main {
  max-width: 21.875rem;
  width: 100%;
  background-color: var(--color-very-dark-blue-card-bg);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 24px 38px,
    rgba(0, 0, 0, 0.15) 0px 20px 20px;

  & > .nft-image {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover > .overlay {
      opacity: 1;
    }

    & > img {
      width: 100%;
    }

    & > .overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      background-color: var(--color-cyan-with-opacity);
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }

  & > h1 {
    display: inline-block;
    color: var(--color-white);
    margin-bottom: 0.75rem;
    font-size: 1.375rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: var(--color-cyan);
    }

    @media (min-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  & > p {
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 0.875rem;

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }

  & > .nft-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.4px;
    margin-bottom: 1rem;

    .amount,
    .days {
      display: flex;
      align-items: center;
      gap: 0.375rem;
    }

    .amount {
      font-weight: 600;
      color: var(--color-cyan);
    }

    @media (min-width: 768px) {
      margin-bottom: 1.5rem;
      letter-spacing: 0px;
    }
  }

  & > .author {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-very-dark-blue-line);

    & > img {
      width: 2rem;
      aspect-ratio: 1/1;
      border: 1px solid var(--color-white);
      border-radius: 50%;
    }

    & a {
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      color: var(--color-white);

      &:hover {
        color: var(--color-cyan);
      }
    }
  }
}
